body {
    background-image: url("./felipe.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 80px;
  animation: pisca .5s alternate 3000;
}

p {
    margin-top: 200px;
    text-align: center;
    font-size: 60px;
    color: white;
    width: 1200px;
    height: 80px;
    margin: auto;
    background-color: red;
    position: relative;
    animation: vrau 4s 3000;
}

@keyframes pisca {
  from { background: #eee;}
  to { background: #e74c3c; }
}

@keyframes vrau {
    0%   {background-color:red; left:-200px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:400px;}
    75%  {background-color:green; left:-200px; top:400px;}
    100% {background-color:red; left:-200px; top:0px;}
}
